.errMsg {
  color: #f00;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}



.itemDiv {
  max-width: 300px;
}
.itemDiv > img {
  width: 100%;
}

.verticalBtns {
  display:flex;
  flex-direction: column;
  height:2.2em;
}

.verticalBtns > button {
  flex:1;
  height:1.1em;
  width:2em;
  padding:0;

}


/* font */
p, a, td, th, h1, label, input, button, .signoutText {
  font-family: 'Montserrat', sans-serif;
}

/* Button */

button {
  cursor: pointer;
}

/* Body */
#root, body{
  margin:0;
  padding:0;
}

/* Nav */
nav {
  position:fixed;
  width:100%;
  height: 3.5em;
  background-color: #222;
  margin: 0;
  display:flex;
  justify-content: space-between;
  top:0;
}
nav > section {
  display:flex;

}
nav a, .signoutText {
  width: 8em;
  height:100%;
  color: #fff;
  display:flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  text-decoration: none;
  text-align:center;
}

.mainSection {
  margin-top: 3.5em;
}

.signoutText {
  cursor: pointer;
}

.pageTitle {
  padding: 1em 0 0 3em ;
}

/* Landing page */

#itemContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 1200px;
  margin:auto;
}
.itemDiv {
  cursor: pointer;
  width: 300px;
  display: grid;
  grid-template-rows: 300px 3em;
  grid-template-columns: 5fr 1fr;
  padding:2em;


}
.itemDiv > img {
  width: 100%;
  grid-row: 1;
  grid-column: 1 / 3;
}

.itemDiv > .nameTag {
  text-align:left;
  grid-row: 2;
  grid-column: 1;
  padding-left: 1em;
}

.itemDiv > .priceTag {
  text-align:right;
  grid-row: 2;
  grid-column: 2;
  padding-right: 1em;

}



/* Product page */

.product {
  margin: auto;
  max-width: 1000px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 4fr 3fr;
}

.product > img {
  width: 100%;
  margin-top: 3em;
}

.product > .tableContainer {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding:3em;
}

.tableContainer table, .tableContainer td, .tableContainer th {
  border: 1px solid black;
  border-collapse: collapse;
}
td, th {
  padding: 0.3em;
}
.returnBtnDiv {
  margin-left: 3em;
}

.addToCartDiv {
  text-align: center;
  margin-right: 3em;
}
.addToCartDiv > a {
  margin-top:1em;
  display:block;
}



/* Login page */
.formSection {
  margin:auto;
  max-width: 800px;
}
.formSection > div > input {
  display:block;
  width: 18em;
  margin-bottom: 1em;
}
.formSection > div {
  margin:auto;
  width:fit-content;
}
.formSection > p {
  text-align: center;
}
.formSection > button {
  margin:auto;
  display: block;
}

.passwordDiv {
  border: 1px solid #777;
  padding: 1em 3em;
}

/* Cart */
.delBtn {
  background-color: red;
  color:white;
}