.errMsg {
  color: #f00;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.passwordDiv {
  border: 1px solid #777;
}

.itemDiv {
  max-width: 300px;
}
.itemDiv > img {
  width: 100%;
}

.verticalBtns {
  display:flex;
  flex-direction: column;
  height:2.2em;
}

.verticalBtns > button {
  flex:1;
  height:1.1em;
  width:2em;
  padding:0;

}